target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Production Build ###
installers/
distributions/
build-resources/icons/windows/*.png
build-resources/icons/windows/*.ico
build-resources/icons/mac/*.png
build-resources/icons/mac/*.icns
build-resources/icons/mac/AppIcon.iconset/
*.dmg
*.exe
*.msi
*.pkg
*.zip